@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

body{
 font-family: 'Oswald', sans-serif;
  line-height:1.4;
  width:500px;
  margin:auto;
 background-image: url("https://resize.hswstatic.com/w_796/gif/how-grass-works.jpg");
 background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

h1 {
  text-align:center;
  text-decoration:underline;
}

p {
  text-align:center;
  padding:5px 0px 5px 25px;
  font-style: italic;
  font-size:16px;
}

form{
  /*background:rgba(147, 5, 5, 0.3);*/
  background:green;
  padding:2.5rem 2.5rem;
  border-radius:2.5rem;
  width:500px;
  margin:auto;
  opacity:0.8;
  font-size:18px;
  color:black;
}

.submit-button{
  width:100%;
  padding:0.75rem;
  background:orange;
  color:white;
  border-radius:5px;
  cursor:pointer;
  font-size:16px;
  font-family:'oswald' san-serif;
  transition: 0.3s ease-in-out;
}

.submit-button:hover{
  background:blue;
}



.format{
  margin:0 auto 1.5rem auto;
  padding:0.25rem;
}

.input{
  display:block;
  width:95%;
  height:2rem;
  padding:0.25rem 0.75rem;
  background-color:#fff;
  border:1px solid black;
  border-radius:0.5rem;
}

.text-input{
  display:block;
  width:95%;
  height:8rem;
  padding:0.25rem 0.75rem;
  background-color:#fff;
  border:1px solid black;
  border-radius:0.5rem;  
}